@font-face {
    font-family: "Boho";
    src: url("fonts/boho-a-gogo.otf") format("opentype");
}

@font-face {
    font-family: "OpenSansSemi";
    src: url("fonts/opensans-semi.ttf") format("opentype");
}

@font-face {
    font-family: "OpenSansExtra";
    src: url("fonts/opensans-extra.ttf") format("opentype");
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

span.rating-text {
    font-family: Boho;
    font-size: 72px;
}
.rating-type {
    font-family: OpenSansSemi;
    font-size: 16px;
    margin-top: 13px;
    color: #FFFFFF;
}
span.rating-girl {
    color: #FF5792;
}
span.rating-boy {
    color: #56B9FF;
}
span.rating-expert {
    color: #DADADA;
}

.verdict {
    font-family: OpenSansExtra;
    font-size: 24px;
    color: #121212;
    letter-spacing: -1px;
    line-height: 1;
    /* html2canvas does not support gradients
    background: repeating-linear-gradient(
      315deg,
      #CBCBCB,
      #CBCBCB 12px,
      #FEFEFE 12px,
      #FEFEFE 24px
    );
    */
    background-image: url("images/verdict-back.png");
}
