@font-face {
    font-family: 'Boho';
    src: url('fonts/BohoAGogoNF.woff2') format('woff2'),
         url('fonts/BohoAGogoNF.woff') format('woff'),
         url('fonts/BohoAGogoNF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-SemiBold.woff2') format('woff2'),
         url('fonts/OpenSans-SemiBold.woff') format('woff'),
         url('fonts/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('fonts/OpenSans-ExtraBold.woff2') format('woff2'),
         url('fonts/OpenSans-ExtraBold.woff') format('woff'),
         url('fonts/OpenSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

span.rating-text {
    font-family: 'Boho', sans-serif;
    font-size: 72px;
}
.rating-type {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-top: 13px;
    color: #FFFFFF;
}
span.rating-girl {
    color: #FF5792;
}
span.rating-boy {
    color: #56B9FF;
}
span.rating-expert {
    color: #DADADA;
}

.verdict {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 24px;
    color: #121212;
    letter-spacing: -1px;
    line-height: 1;

    background-image: url("images/verdict-back.svg");
    background-size: contain;

    /* html2canvas does not support that
    background: repeating-linear-gradient(
      315deg,
      #CBCBCB,
      #CBCBCB 12px,
      #FEFEFE 12px,
      #FEFEFE 24px
    );
    */

    /* supported light */
    /*
    background: #cbcbcb;
    background: -moz-linear-gradient(-45deg, #cbcbcb 0%, #cbcbcb 10%, #fefefe 10%, #fefefe 20%, #cbcbcb 20%, #cbcbcb 30%, #fefefe 30%, #fefefe 40%, #cbcbcb 40%, #cbcbcb 50%, #fefefe 50%, #fefefe 60%, #cbcbcb 60%, #cbcbcb 70%, #fefefe 70%, #fefefe 80%, #cbcbcb 80%, #cbcbcb 90%, #fefefe 90%, #fefefe 100%);
    background: -webkit-linear-gradient(-45deg, #cbcbcb 0%,#cbcbcb 10%,#fefefe 10%,#fefefe 20%,#cbcbcb 20%,#cbcbcb 30%,#fefefe 30%,#fefefe 40%,#cbcbcb 40%,#cbcbcb 50%,#fefefe 50%,#fefefe 60%,#cbcbcb 60%,#cbcbcb 70%,#fefefe 70%,#fefefe 80%,#cbcbcb 80%,#cbcbcb 90%,#fefefe 90%,#fefefe 100%);
    background: linear-gradient(135deg, #cbcbcb 0%,#cbcbcb 10%,#fefefe 10%,#fefefe 20%,#cbcbcb 20%,#cbcbcb 30%,#fefefe 30%,#fefefe 40%,#cbcbcb 40%,#cbcbcb 50%,#fefefe 50%,#fefefe 60%,#cbcbcb 60%,#cbcbcb 70%,#fefefe 70%,#fefefe 80%,#cbcbcb 80%,#cbcbcb 90%,#fefefe 90%,#fefefe 100%);
    */

    /* supported dark */
    /*
    background: #3e3e3e;
    background: -moz-linear-gradient(-45deg, #3e3e3e 0%, #3e3e3e 10%, #292929 10%, #292929 20%, #3e3e3e 20%, #3e3e3e 30%, #292929 30%, #292929 40%, #3e3e3e 40%, #3e3e3e 50%, #292929 50%, #292929 60%, #3e3e3e 60%, #3e3e3e 70%, #292929 70%, #292929 80%, #3e3e3e 80%, #3e3e3e 90%, #292929 90%, #292929 100%);
    background: -webkit-linear-gradient(-45deg, #3e3e3e 0%,#3e3e3e 10%,#292929 10%,#292929 20%,#3e3e3e 20%,#3e3e3e 30%,#292929 30%,#292929 40%,#3e3e3e 40%,#3e3e3e 50%,#292929 50%,#292929 60%,#3e3e3e 60%,#3e3e3e 70%,#292929 70%,#292929 80%,#3e3e3e 80%,#3e3e3e 90%,#292929 90%,#292929 100%);
    background: linear-gradient(135deg, #3e3e3e 0%,#3e3e3e 10%,#292929 10%,#292929 20%,#3e3e3e 20%,#3e3e3e 30%,#292929 30%,#292929 40%,#3e3e3e 40%,#3e3e3e 50%,#292929 50%,#292929 60%,#3e3e3e 60%,#3e3e3e 70%,#292929 70%,#292929 80%,#3e3e3e 80%,#3e3e3e 90%,#292929 90%,#292929 100%);
    */
}

